

.box {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.child-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.icona{
    color: #7971ea;
    font-size: 40px;
    margin-right: 20px;
}
.child-box h3{
    font-size: 23px;
    color: rgb(71, 71, 71);
    font-weight: lighter;
}
.child-box p {
    color: gray;
    margin-top: 6px;
}
